:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h2 {
  font-size: 1.5rem;
}

#dashboard-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  color: white;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5058ec;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #6e75ff;
}

.new-prospect-button {
  margin-left: auto;
}

.main {
  width: min(900px, 100% - 2.5rem);
}

table {
  width: 100%;
}

@media (max-width: 650px) {
  #dashboard-header {
    flex-direction: column;
  }
  .new-prospect-button {
    margin-left: 0;
  }
}
